@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Completely hide scrollbar while keeping scroll working */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
